*.obj
*.log
*.tlog
*.lastbuildstate
*.iobj
*.pdb
*.dir*
*x64*
*.ipdb
*.db
*.vs*
*.opendb
*libs*
*ipch*
*readme.txt
*user
*lib*
*bin*
*Debug*
*Release*
*.png
*.jpg
*.txt
*.zip
*.7z
*.hpp
*boost*
*opencv*
*.ilk
*.pdb
*.Vc.db
*.VC.db
*.log
*.exe
*.obj
*.idb
